<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.hooo.dao.trade.mapper.TradeInfoMapper">
    <insert id="insert" parameterType="me.hooo.dao.trade.model.TradeInfoDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO trade_info (
        account_id,
        parent_trade_info_id,
        stock_id,
        stock_name,
        trade_date,
        trade_point,
        trade_number,
        trade_amount,
        trade_type,
        trade_remaining_number,
        trade_status,
        create_user,
        create_user_name,
        update_user,
        update_user_name
        )
        values (
        <choose>
            <when test="accountId != null">
                #{accountId,jdbcType=BIGINT},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>
        #{parentTradeInfoId,jdbcType=BIGINT},
        #{stockId,jdbcType=BIGINT},
        #{stockName,jdbcType=VARCHAR},
        #{tradeDate,jdbcType=DATE},
        #{tradePoint,jdbcType=INTEGER},
        #{tradeNumber,jdbcType=INTEGER},
        #{tradeAmount,jdbcType=DOUBLE},
        #{tradeType,jdbcType=TINYINT},
        #{tradeRemainingNumber,jdbcType=INTEGER},
        #{tradeStatus,jdbcType=TINYINT},
        <choose>
            <when test="createUser != null">
                #{createUser,jdbcType=BIGINT},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>

        <choose>
            <when test="createUserName != null">
                #{createUserName,jdbcType=VARCHAR},
            </when>
            <otherwise>
                '',
            </otherwise>
        </choose>

        <choose>
            <when test="updateUser != null">
                #{updateUser,jdbcType=BIGINT},
            </when>
            <otherwise>
                0,
            </otherwise>
        </choose>

        <choose>
            <when test="updateUserName != null">
                #{updateUserName,jdbcType=VARCHAR}
            </when>
            <otherwise>
                ''
            </otherwise>
        </choose>
        )
    </insert>

    <select id="selectListByTradeType" resultType="me.hooo.dao.trade.model.TradeInfoDO">
        SELECT id, stock_id, stock_name, trade_date, trade_point, trade_number, trade_amount, trade_type, trade_remaining_number, update_time
            from trade_info
        where trade_type = #{tradeType}
        <if test="tradeStatusList != null and tradeStatusList.size > 0" >
            and trade_status in
            <foreach collection="tradeStatusList" item="tradeStatus" open="(" close=")" separator=",">
                #{tradeStatus}
            </foreach>
        </if>
        and deleted = 0
    </select>

    <select id="selectTradeInfoById" resultType="me.hooo.dao.trade.model.TradeInfoDO">
        select * from trade_info where id = #{id} and deleted = 0
    </select>

    <update id="updateTradeInfo">
        update trade_info set
            stock_id = #{stockId},
            stock_name = #{stockName},
            trade_date = #{tradeDate},
            trade_point = #{tradePoint},
            trade_number = #{tradeNumber},
            trade_amount = #{tradeAmount},
            trade_type = #{tradeType},
            <if test="tradeStatus != null">
                trade_status = #{tradeStatus},
            </if>
            trade_remaining_number = #{tradeRemainingNumber}
            where id = #{id} and deleted = 0
    </update>

    <delete id="deleteById">
        update trade_info set deleted = 1 where id = #{id} and deleted = 0
    </delete>
</mapper>